name: Deploy Backend

on:
  push:
    branches: ["main"]

jobs:
  deploy-backend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Deploy to Backend EC2
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.BACKEND_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd ~/grocery-list-backend
            git pull origin main
            cd docker
            docker-compose build
            docker-compose up -d
